<%= stylesheet_link_tag    "shared", :media => "all" %>

<div id="header">
	<h1>RSS Reader</h1>
	<%= link_to 'New Flux', new_flux_path %>
	
</div>
	
	<div id="rss-content">
		<h2>Flux RSS</h2>
		
		<div id="flux1">
			<h3><%= @fluxes.first.titre %></h3>
			
			<%- flux_actuel = @fluxes.first
				flux_actuel.items.each do |item| %>
			<div>
				<p>
					<span class="item-titre"><%= item.titre %> -- </span>
					<span class="item-date"><%= item.date %></span><br />
					<%= if item.contenu?
						item.contenu.gsub(%r{</?[^>]+?>}, '') 
						end %>
					<a href="" class="check_lu">Marquer comme lu</a>
				</p>
			</div>
			<% end %>
		</div>
		
		<div id="flux2">
			<h3><%= @fluxes[1].titre %></h3>
			
			<%- flux_actuel = @fluxes[1]
				flux_actuel.items.each do |item| %>
			<div>
				<p>
					<span class="item-titre"><%= item.titre %> -- </span>
					<span class="item-date"><%= item.date %></span><br />
					<%= if item.contenu?
						item.contenu.gsub(%r{</?[^>]+?>}, '') 
						end %>
					<a href="" class="check_lu">Marquer comme lu</a>
				</p>
			</div>
			<% end %>
		</div>
	</div>
	
	<div id="rss-list">
		<h2>Liste des Flux</h2>
		<% @fluxes.each do |flux| %>
		<ul>
			<li>
				<a class="list-flux" href="<%= flux.id %>"</a><%= flux.titre %></a>
				<%= button_to "x", {:controller => :fluxes, :action => 'destroy', :id => flux.id }, :method => :delete %>
			</li>
		</ul>
		<% end %>
	</div>
	






