<h1>Listing fluxes</h1>

<table>
  <tr>
    <th>Titre</th>
    <th>Url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @fluxes.each do |flux| %>
  <tr>
    <td><%= flux.titre %></td>
    <td><%= flux.url %></td>
    <td><%= link_to 'Show', flux %></td>
    <td><%= link_to 'Edit', edit_flux_path(flux) %></td>
    <td><%= link_to 'Destroy', flux, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Flux', new_flux_path %>
