<p id="notice"><%= notice %></p>

<p>
  <b>Titre:</b>
  <%= @flux.titre %>
</p>

<p>
  <b>Url:</b>
  <%= @flux.url %>
</p>


<%= link_to 'Edit', edit_flux_path(@flux) %> |
<%= link_to 'Back', fluxes_path %>
